{% extends 'core/base.html' %}
{% load static %}

{% block docname%}
    <title>Zero | Bio</title>
{% endblock%}


{% block contenido%}
    <!-- {% for b in bios %} -->
    <div class="row">
        <div id="nameArtist" class="col">
            <h1>nombre</h1>
            <!-- <h1>{{ b.autor }}</h1> -->
        </div>
    </div>

    <div class="row">
        <!-- imagen -->
        <div id="foto_bio" class="col-12 col-sm-6">
            <img src="{% static 'core/img/artistas/4_c.jpg' %}" alt="Dean Lawson" class="img-fluid">
        </div>
        
        <!-- Texto Bio -->
        <div id="ficha_bio" class="col-12 col-sm-6">
            <h3>Bio</h3>
            <!-- <p>{{ b.bio }}</p> -->
            <h3>Expos</h3>
            <!-- <p>{{ b.expos }}</p> -->
        </div>
        <!-- {% endfor %} -->
    </div>

    <!-- Boton Volver -->
    <div id="boton_back" class="row">
        <div class="col">
            <div class="btn-centrado embe">
                <button type="button" onclick="goBack()" class="btn btn-dark bot1">Volver</button>
            </div> 
        </div>
    </div>
{% endblock%}

    




  