{% extends 'core/base.html' %}


{% block contenido %}
<table class="table table-hover">
    <tr>
        <td>ID</td>
        <td>Titulo</td>
        <td>Año</td>
        <td>Historia</td>
        <td>Descripción</td>
        <td>Técnica</td>
        <td>Precio</td>
        <td>Imágen</td>
        <td>Acciones</td>
    </tr>
    <!-- en cada vuelta del for, agregue una fila -->
    {% for x in obras %}
    <tr>
        <!-- para imprimir en pantalla es doble llave -->
        <td>{{ x.id_obra }}</td>
        <td>{{ x.titulo }}</td>
        <td>{{ x.año }}</td>
        <td>{{ x.historia }}</td>
        <td>{{ x.descripcion }}</td>
        <td>{{ x.tecnica }}</td>
        <td>{{ x.precio }}</td>
        <!-- {{ x.imagen.url }} -->
        <td>
            <img src="{{ x.imagen_obra.url }}" alt="{{ x.titulo }}" class="img-fluid img-thumbnail" style="max-height: 100px;"></td>
        <td>
            <a href="{% url 'eliminar' x.id_obra %}" class="badge badge-pill badge-danger">Eliminar</a>
            <a href="{% url 'modificar_obra' x.id_obra %}" class="badge badge-pill badge-secondary">Modificar</a>
        </td>
        
    </tr>
    {% endfor %}
</table>

{% endblock %}